* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: oswald;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/background1.png);
  background-size: 100%;
  backdrop-filter: brightness(35%);
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  font-size: large;
  color: white;
}

.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
}

.card {
  background-color: rgb(0, 0, 0, 0.85);
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

/* .overlay::before,
.overlay::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: rgb(0, 0, 0, 0.8);
}

.overlay::after {
  background-color: rgb(0, 0, 0, 0.8);
} */

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  background: white;
  padding: 2px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(70%);
  filter: grayscale(10%);
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.description {
  margin-top: 5px;
  font-size: 14px;
  color: #707070;
  text-align: center;
}

.button {
  font-size: 16px;
  color: white;
  padding: 8px 16px;
  border-width: 2px;
  border-color: white;
  background: none;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background: red;
}

.swiper-navBtn {
  color: white;
  transition: color 0.3s ease;
}

.swiper-navBtn:hover {
  color: red;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: white;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: red;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }

  .swiper-navBtn {
    display: none;
  }
}