* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: oswald;
    font-weight: 1000;
    color: white;
}

/* start of jumbotron */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 100px;
    background-color: rgb(0, 0, 0);
}

nav h2 {
    font-weight: 1000;
}

ul a {
    font-weight: 1000;
}

nav ul {
    display: flex;
    width: 600px;
    justify-content: space-around;
    text-align: end;
}

.sticky {
    /* overflow: hidden; */
    position: fixed;
    width: 85.8vw;
    top: 0;
    z-index: 1;
}

.underline {
    color: #fff;
    letter-spacing: 0.15em;
    padding: 15px 20px;
    position: relative;
}

.underline:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.underline:hover:after {
    width: 100%;
    left: 0;
}

.btn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 40px;
    font-size: 18px;
    font-weight: 560;
    border: solid 3px;
}

.btn:hover {
    background-color: red;
    transition: all 0.5s ease-in-out;
}

.btn a {
    font-weight: 1000;
}

.container1 {
    padding-top: 130px;
    height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url(background.png);
    background-size: 100%;
    backdrop-filter: brightness(20%);
}

.container1 h2 {
    font-size: 50px;
}

.gym-bar {
    display: flex;
    flex-direction: column;
}

.card-group {
    display: flex;
    flex-direction: column;
}

.card {
    background-color: rgb(0, 0, 0, 0.85);
    width: 55vw;
    height: 30vh;
    display: flex;

}

.card-left1 {
    width: 35%;
    background-image: url(background1.jpg);
    background-size: 150%;
}

.card-left2 {
    width: 35%;
    background-image: url(background2.jpg);
    background-size: 150%;
}

.card-left3 {
    width: 35%;
    background-image: url(background3.jpg);
    background-size: 150%;
}

.card-right {
    display: flex;
    width: 75%;
    flex-direction: column;
    justify-content: space-between;
}

.card-title .title {
    margin: 10px 0px 0px 10px;
    font-weight: 200;
}

.card-title .title p {
    margin-left: 10px;
    font-weight: 100;
}

.card-btn {
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}

.rating span{
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orange;
}

.rating .checked {
    color: orange;
}

.btn1 {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 30px;
    font-size: 18px;
    font-weight: 560;
    border: solid 2px;
    margin: 0px 10px 10px 0px;
}

.btn1:hover {
    background-color: red;
    transition: all 0.5s ease-in-out;
}