*{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    list-style: none;
}

.container{
    display: flex;
}

.wrapper{
    background-color: red;
}

.left-content{
    width: 45vw;
    height: 100vh;
}


.left-content.signup{
    background-image: url(signup.jpg);
    background-size: cover;
}

.right-content{
    width: 55vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.right-content .header{
    
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 72px;
    color: #000000;
    margin-bottom: 25px;
}

label{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 39px;
    color: #000000;
}

input{
    width: 535px;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background: #D9D9D9;
    border: 0;
    font-size: 18px;

}

input::after{
    border: 0;
}

.btn{
    font-weight: 600;
    font-size: 18px;
    background-color: #D9D9D9;
    color: black;
    padding: 12px 45px;
}

.btn:hover{
    background-color: red;
    color: white;
    transition: all 0.5s ease-in-out;
}

.btn:active{
    background-color: grey;
    color: black;
}

p{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

span a{
    color: #000000;
}

span a:hover{
    color: red;
    transition: all 0.5s ease-in-out;
}

a{
    color: black;
}